Package: com.ia.iconbounce
Name: iconbounce
Depends: mobilesubstrate
Version: 1.0-24
Architecture: iphoneos-arm
Description: A tweak to make your dock icons randomly bounce and do other animations.
Maintainer: Evan Lucas
Author: Evan Lucas
Section: Tweaks
Installed-Size: 104
