Package: com.ia.iconbounce
Name: IconBounce
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: A tweak to make your dock icons randomly bounce and do other animations.
Maintainer: Evan Lucas
Homepage: http://curapps.com/apps/iconbounce
Author: Evan Lucas
Section: Tweaks
