<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>IconBounce Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.curapps.iconbounce</string>
			<key>key</key>
			<string>enableIconBounce</string>
			<key>label</key>
			<string>Enable IconBounce</string>
			<key>PostNotification</key>
			<string>com.curapps.iconbounce.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customize Animations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Animations</string>
			<key>detail</key>
			<string>IBSettingsAnimationsController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.curapps.iconbounce</string>
			<key>key</key>
			<string>bounceLabels</string>
			<key>label</key>
			<string>Animate Labels</string>
			<key>PostNotification</key>
			<string>com.curapps.iconbounce.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bounce Interval</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>2.7</real>
			<key>max</key>
			<integer>10</integer>
			<key>min</key>
			<real>2.7</real>
			<key>defaults</key>
			<string>com.curapps.iconbounce</string>
			<key>key</key>
			<string>bounceInterval</string>
			<key>PostNotification</key>
			<string>com.curapps.iconbounce.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.6</real>
			<key>max</key>
			<real>4</real>
			<key>min</key>
			<real>1.6</real>
			<key>defaults</key>
			<string>com.curapps.iconbounce</string>
			<key>key</key>
			<string>animationDuration</string>
			<key>PostNotification</key>
			<string>com.curapps.iconbounce.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Support Developer</string>
			<key>icon</key>
			<string>paypal</string>
		</dict>
		<dict>
			<key>action</key>
			<string>follow:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow on Twitter</string>
			<key>icon</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2012-2015 Evan Lucas</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.curapps.iconbounce</string>
			<key>key</key>
			<string>debugIconBounce</string>
			<key>label</key>
			<string>Enable Debug Mode</string>
			<key>PostNotification</key>
			<string>com.curapps.iconbounce.prefschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>IconBounce</string>
</dict>
</plist>
